@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700");

:root {
  --primary-color: #232931;
  --background-color: #f0f3f5;
  --primary-font-color: #fff;
  --highlight-color: #bb2f2f;
  --shadow-color: #65776c;
  --border-color: #65776c;
  --font-family: "Oswald", serif;
}

html::-webkit-scrollbar {
  display: none; /* Hide scrollbar in WebKit browsers (Chrome, Safari) */
}

html {
  scrollbar-width: none; /* Hide scrollbar in Firefox */
  -ms-overflow-style: none; /* Hide scrollbar in IE/Edge */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  font-family: var(--font-family);
  overflow-x: hidden;
}

.capitalize {
  text-transform: capitalize;
}
